<div class="orb-container">
    <div class="orb"></div>
    <div class="orb"></div>
    <div class="orb"></div>
    <div class="orb"></div>
    <div class="orb"></div>
    <div class="orb"></div>
    <div class="orb"></div>
</div>

<div class="ship">
    <div class="ship-rotate">
        <div class="pod"></div>
        <div class="fuselage"></div>
    </div>
</div>
