<section id="welcome" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome--wrap welcome--text">
                <h3 class="title">Hi I'm Gordon - designer & coder</h3>
                <div class="subtitle">
                    <p>I love creating useful & beautiful things for people</p>
                    <a href="#">see my latest work</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="section--white text-center row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h5>About me</h5>
            <p>Hey there and welcome to my site. I've been wanting to put something up on the interwebs for a while now and have finally gotten a free weekend to play around.</p>
            <p>For those of you just joining us, my name is Gordon Evans. I was born in a small town in South Western Ontario called Pefferlaw and you guessed it grew up a hick.</p>

        </div>
    </div>
</section>
