<section id="stories" class="section--grey text-sm-center">
  <div class="container">
    <div class="row text-sm-center">
      <div class="col-md-12">
        <h5 class="section--title mb-2">Stories</h5>
        <p>Slowly growing a collection of my startup stores, rants, etc.</p>
      </div>
      <%= render partial: "projects/project_card" %>
    </div>
  </div>
</section>
