/* -- BOOTSTRAP OVERRIDES -- */

// 1. Cards
//
.card:hover {
    @extend .box-shadow;
    @extend .transition;
    border: 1px solid $brand-primary;
}

.card-img-top {
  width: 100%;
  height: auto;
}

// 2. Typography
//
a {
    @extend .transition;
    &:hover {
        text-decoration: none;
    }
}

p {
    font-weight: 300;
}

// 3. Display
.hidden {
    display: none;
}
