/* -- MAIN STYLES -- */
a {
    @extend .transition;
    &:hover {
        text-decoration: none;
    }
}

/* -- ID'S -- */
#welcome {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 9rem;
    padding-bottom: 6rem;
}
#welcomeImage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-welcome;
    width: 100%;
    height: 26rem;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* -- NAVIGATION -- */
nav {
    // BASE PADDING
    padding: 1rem 0;
    &.nav--top {
        position: fixed;
        top: 0;
        z-index: $zindex-navbar;
        background: transparent;
        width: 100%;
    }
    &.nav--root {
        -webkit-transition: all .8s;
        transition: all .8s;
    }
    .nav--avatar {
        z-index: 1000;
        img {
            @extend .transition;
            border-radius: 50%;
            height: $avatar-size;
            width: $avatar-size;
        }
    }
    .nav--list {
        @extend .transition;
        padding-top: 1rem;
        padding-left: 0;
        position: relative;
        float: right;
        li {
            display: block;
            float: left;
            a {
                color: white;
                margin: 0 0 0 2em;
                &:hover {
                    color: $brand-primary;
                }
            }
            &:first-child > a {
                margin-left: 0;
            }
        }
    }
}

/* -- PAGE SECTIONS -- */
section {
    padding: 2rem 0;
}
.section {

    &--white {
        background: $bg-color-1;
    }
    &--grey {
        background: $bg-color-2;
    }
    &--title {
        text-align: center;
        margin-bottom: 2rem;
    }
}

/* -- HELPERS -- */
.transition {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.box-shadow {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
@include media-breakpoint-up(xs) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
