/* -- MAIN STYLES -- */

/* -- ID'S -- */
#pageContent {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#welcome {
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 11rem;
    padding-bottom: 8rem;
}
#welcomeImage {
    position: fixed;
    top: 0;
    left: 0;
    background: url("https://s3.amazonaws.com/gjrevans.com/images/header.jpg");
    @include hero-image(26rem);
}
#projectImage {
    @include hero-image(22rem);
}
/* -- NAVIGATION -- */
nav {
    // BASE PADDING
    padding: 1rem 0;
    &.nav--top {
        position: fixed;
        top: 0;
        z-index: $zindex-navbar;
        background: transparent;
        width: 100%;
    }
    &.nav--root {
        -webkit-transition: all .8s;
        transition: all .8s;
    }
    .nav--avatar {
        z-index: 1000;
        img {
            @extend .transition;
            border-radius: 50%;
            height: $avatar-size;
            width: $avatar-size;
        }
    }
    .nav--list {
        @extend .transition;
        padding-top: 1rem;
        padding-left: 0;
        position: relative;
        float: right;
        li {
            display: block;
            float: left;
            a {
                color: white;
                margin: 0 0 0 2em;
                &:hover {
                    color: $brand-primary;
                }
            }
            &:first-child > a {
                margin-left: 0;
            }
        }
    }
}

/* -- PAGE SECTIONS -- */
section {
    padding: 2rem 0;
}
.section {
    &--white {
        background: $bg-color-1;
    }
    &--grey {
        background: $bg-color-2;
    }
    &--title {
        text-align: center;
        margin-bottom: 2rem;
    }
}

/* -- PROJECTS -- */
.read-time-floater {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $brand-primary;
    background: rgba(255, 255, 255, 0.9);
    z-index: $zindex-floater;
}
.read-time-content {
    text-align: center;
    margin-top: 24px;
}

/* -- RESPONSIVE FIXES -- */
@include media-breakpoint-only(xs) {
    nav .nav--list li a {
        margin: 0 0 0 1em;
    }
}
