<nav class="nav--top nav--root">
    <div class="container">
        <div class="row flex-items-xs-middle">
            <div class="col-xs-4">
                <div class="nav--avatar--wrapper">
                    <%= link_to image_tag("avatar.jpg"), "#welcome", class: "nav--avatar" %>
                </div>
            </div>
            <div class="col-xs-8">
                <ul class="nav--list">
                    <li class="nav--link"><%= link_to "About", "#about" %></li>
                    <li class="nav--link"><%= link_to "Work", "#work" %></li>
                    <li class="nav--link"><%= link_to "Contact", "#contact" %></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
