<% @technologies.each do |technology| %>
<div class="col-md-2 col-sm-4 col-6 text-center">
    <%= image_tag technology['image'], class:"img-fluid rounded", alt: technology['name'] %>
    <h6 class="mt-3"><%= link_to technology['name'], technology['link'], target: '_blank' %></h6>
    <p class="small"><%= technology['info'] %></p>
</div>
<% end %>
